<div class="card-explore">
  <h5 class="title"> Explore por Empresas</h5>
  <div id="carouselCompanies" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active d-flex">
        <div class="card">
          <img src="" class="card-img-top" alt="Logo da Empresa">
          <div class="card-body">
            <h5 class="card-title">Nome da Empresa</h5>
            <p class="card-text">Descrição</p>
            <a href="#" class="btn btn-primary">Conheça mais</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCompanies" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCompanies" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>
