<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand m-4" href="#">
        <img src='../../assets/images/logo-2partes.pngs'/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/all_companies">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/all_products">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <button class="btn btn-lg ml-4 mr-4" (click)="open(demoModal)">
            <i size="5" class="bi bi-person-circle"></i>
        </button>
      </div>
    </div>
  
    <ng-template #demoModal let-modal>
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
        <div class="m-3">
          <img class="rounded mx-auto d-block perfi_usuario" src='../../favicon.ico'/>
          <h5 class="text-center m-2">Nome da pessoa/empresa</h5>
        </div>
        <div class="form-group mt-3">
          <label for="documento">CPF/CNPJ</label>
          <div class="input-group">
            <input id="documento" name="documento" class="form-control" value="111.111.111-11" disabled>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="cep">CEP</label>
          <div class="input-group">
            <input id="cep" name="cep" class="form-control" value="111.111.111-11" disabled>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="data_nascimento">Data de Nascimento/Criação</label>
          <div class="input-group">
            <input id="data_nascimento" name="data_nascimento" class="form-control" value="24/11/2022" disabled>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col text-left">
            <button type="button" class="btn btn-outline-danger" (click)="modal.close('Sair')" routerLink="/login">Sair</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success" (click)="modal.close('Sair')" routerLink="/edit_profile">Editar</button>
          </div>
        </div>
      </div>
    </ng-template>
