<div class="card-product">
  <div>
    <div class="">
      <div class="active d-flex">
        <div class="card" *ngFor="let produto of produtos">
          <div class="card-body">
            <h5 class="card-title">{{produto.name}}</h5>
            <p class="card-text">{{produto.description}}</p>
            <p class="card-text">{{produto.value | currency}}</p>
            <a [routerLink]="['/product/edit', produto.id]" class="mx-2 btn btn-primary">Editar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>