<div class="container h-100">
  <div class="d-flex justify-content-center h-100 mt-2">
    <div class="card_login">
      <div class="d-flex justify-content-center">
        <div class="logo">
          <img src="../../assets/images/foguete-branco.png" class="img_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center card_form">
        <form>
          <div class="input-group mb-3">
            <input type="text" name="" class="form-control input_documento" value="" placeholder="CPF/CNPJ">
          </div>
          <div class="input-group mb-2">
            <input type="password" name="" class="form-control input_senha" value="" placeholder="Senha">
          </div>
          <div class="d-flex justify-content-center mt-3 card_btn_login">
            <button type="button" name="button" class="btn btn_login">Entrar</button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          <label>Ainda não é cadastrado? <a href="#" class="ml-3"> Clique aqui</a></label>
        </div>
      </div>
    </div>
  </div>
</div>
