.card-product {

}

.card{
  padding: 1rem;
  width: 18rem;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title{
  margin: 2rem;
}

.color-icon{
  color: rgb(75, 70, 70) !important;
}
