<p class="fs-1 text-center">Cadastro de usuário</p>
<div class="card_register">
  <form [formGroup]="formGroup" >
    <div class="form-row">
      <div class="form-group" *ngIf="!formEdit">

        <div class="form-group">
          <div class="form-check form-switch">
            <input class="form-check-input" formControlName="is_company" type="checkbox" id="empresa">
            <label class="form-check-label" for="is_company">Empresa?</label>
          </div>
        </div>

        <!-- se for empresa -->
        <label for="documento">{{ isPessoaJuridica ? 'CNPJ*' : 'CPF*' }}</label>
        <!-- se for pessoa 
        <label for="documento">CPF*</label>-->
        <input *ngIf="isPessoaJuridica"type="document" class="form-control" id="documento" formControlName="document" placeholder="Ex.: 00.000.000/0000-00" mask="00.000.000/0000-00">
        <input *ngIf="!isPessoaJuridica" type="document" class="form-control" id="documento" formControlName="document" placeholder="Ex.: 000.000.000-00" mask="000.000.000-00">
      </div>
    </div>
    <div class="form-group" *ngIf="!formEdit">
      <!-- se for empresa -->
      <label for="email">Email*</label>
      <!-- se for pessoa 
      <label for="nome">Nome Completo*</label>-->
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="everaldo.ferreira27@email.com" maxlength="100">
    </div>
    <div class="form-group" *ngIf="!formEdit">
      <!-- se for empresa -->
      <label for="password">Senha*</label>
      <!-- se for pessoa 
      <label for="nome">Nome Completo*</label>-->
      <input type="password" class="form-control" id="password" formControlName="password" maxlength="50">
    </div>
    <div class="form-group">
      <!-- se for empresa -->
      <label for="nome">{{ isPessoaJuridica ? 'Razão Social*' : 'Nome completo*' }}</label>
      <!-- se for pessoa 
      <label for="nome">Nome Completo*</label>-->
      <input type="text" class="form-control" id="nome" formControlName="name" placeholder="" maxlength="50">
    </div>
    <div class="form-group">
      <!-- se for empresa -->
      <label for="data">{{ isPessoaJuridica ? 'Data de Criação*' : 'Data de Nascimento*' }}</label>
      <!-- se for pessoa 
      <label for="data">Data de Nascimento</label>-->
      <input type="date" class="form-control" id="data" formControlName="date" placeholder="">
    </div>
    <div class="form-group">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="00000-000" mask="00000-000" (blur)="onBlurCep()">
    </div>
    <div class="form-group">
      <label for="city">Cidade</label>
      <input type="text" class="form-control" id="city" formControlName="city">
    </div>
    <div class="form-group">
      <label for="state">Estado (Sigla)</label>
      <input type="text" class="form-control" id="state" formControlName="state">
    </div>
    <div [ngClass]="{'form-group':true, 'invisible': !isPessoaJuridica}">
      <label for="logo">Adicione aqui a logo da sua empresa</label>
      <br/>
      <input type="file" class="form-control-file mt-2" id="logo" formControlName="image" (change)="onChange($event)">
    </div>
    <div [ngClass]="{'form-group':true, 'invisible': !isPessoaJuridica}">
      <label for="description">Descrição da Empresa</label>
      <br/>
      <input type="text" class="form-control-file mt-2" id="description" formControlName="description">
    </div>
    <div class="form-group d-flex justify-content-center" *ngIf="!formEdit">
      Já possui cadastro? <a class="mx-2" routerLink="/login">Clique aqui</a>
    </div>
    <div class="form-group mt-3 text-center">
      <button (click)="onClickSalvar()" type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
